# Dependencies
node_modules
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Testing
coverage

# Next.js
.next/
out/
build
dist

# Production standalone
.next/standalone
.next/static

# Env
.env
.env*.local
.env.production
!.env.production.example
!.env.example

# Debug / OS
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
*.pem

# TypeScript
next-env.d.ts
*.tsbuildinfo

# IDE
.idea
.vscode
.cursor

# Docker
docker-compose.override.yml
.vercel
